@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@font-face{
    font-family: "mm";
    font-weight: normal;
    src: url("../mm fonts/MyanmarSquare.ttf");
}
:root{
    --primary: #3BC7F4;
    --primary-soft: #a4e3f8;
    --scenondary: #707070;
    --scenondary-soft: #c6cacac9;
    --light: #ffffff;
    --dark: #000000;
}
body{
    transition: 0.5s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    color: var(--scenondary);
}
.line{
    background: var(--scenondary);
    height: 3px;
    margin-top: 8px;
}
.app{
    margin: 100px auto;
    width: 800px;
}
.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one-first{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo-name{
    font-size: 30px;
    margin-left: 10px;
}
.one-sec{

}
.result{
    font-size: 30px;
}
.two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
label{
    display: flex;
    margin-bottom: 10px;
}
.input,.from,.to{
    width: 100%;
    outline: none;
    height: 30px;
    border: 1px solid var(--scenondary);
    border-radius: 5px;
}
.input{
    text-align: right;
    padding-right: 10px;
}
.from{
    padding-left: 30px;
}
.to{
    padding-left: 30px;
}
.two-first{
    width: 150px;
}
.two-sec{
    width: 150px;
}
.two-third{
    width: 150px;
}
.two-fourth{
    width: 150px;
    height: 61px;
}
.btn{
    width: 100%;
    height: 100%;
    font-size: 25px;
    background: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--light);
}
.btn:active{
    background: var(--light);
    border: 2px solid var(--primary);
    color: var(--primary);
}
.table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 15px;
    
  }
  
  .table td, .table th {
    padding: 8px;
  }
  .table tr td{
      background-color: var(--scenondary-soft);
      border-radius: 5px;
}
  
  .table tr:hover {background-color: var(--primary-soft);}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 5px;
  }
  .th th:last-child{
    text-align: right;
  }
  .tb tr td:last-child{
    text-align: right;
  }
  .noresult td{
   text-align: center !important; 
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
  @media screen and (max-width: 480px){
    .app{
        width: 96%;
        margin: 30px auto;
    }
     /*one*/
    .one{
        flex-flow: column;
        align-items: flex-end;
    }
    .one-first{
        width: 100%;
    }
    .line{
        border-radius: 10px;
    }
    .logo{
        border-radius: 35px;
    }
    /*two*/
    .two{
        flex-wrap: wrap;
    }
    .two-first,.two-sec,.two-third{
        width: 100%;   
    }
    .two-sec,.two-third{
        width: 48%;
    }
    .input,.from,.to{
        border-radius: 30px;
        padding-left: 10px;
        height: 45px;
    }
    .two-fourth{
        width: 100%;
        margin-top: 15px;
    }
    .btn{
        border-radius: 48px;
    }
    /*three*/
    .table{
        border: 2px solid var(--primary);
        border-radius: 46px;
        padding: 15px;
        
    }
    .th tr th{
        text-align: center;
        background: var(--primary);
        border-radius: 35px;
    }
    
    .th th:last-child{
        text-align: center;
    }
    .tb tr td{
        text-align: center;
        background: none;
      }
    .table tr{
        background-color: var(--);
    }
   
  }
